<h1>NOTE: This should be formatted prettily at some point. (Alex can do this)</h1>
<h3>But for now all the data you need is heres</h3>

<br/>
<br/>


<div class="bracket">
	<div class="clearfix"></div>
	<% @regions.each_pair do |name, region| %>
		<div class="region" id="<%= name %>" data-region="<%= name %>">
			<ul class="round" id="<%= name %>-1" data-region="<%= name %>" data-round="1">
				<% region[0].each do |match| %>
					<li class="match" id="<%= match.match_id %>">
						<ul class="teams">
							<li class="team1"><%= match.team1.name %></li>
							<li class="team2"><%= match.team2.name %></li>
						</ul>
					</li>
				<% end %>
			</ul>
			<% region.drop(1)[0..2].each_with_index do |round, i| %>
				<ul class="round round<%= i+2 %>" id="<%= name %>-<%= i+2 %>" data-region="<%= name %>" data-round="<%= i+2 %>">
					<% region[i+1].each_slice(2).with_index do |preds, j| %>
						<li class="match" id="<%= region[i+2][j].match_id %>">
							<ul class="teams">
								<li class="team1"><%= preds[0].winner.name %></li>
								<li class="team2"><%= preds[1].winner.name %></li>
							</ul>
						</li>
					<% end %>
				</ul>
			<% end %>
			<div class="clearfix"></div>
		</div>
	<% end %>
	<div class="clearfix"></div>
</div>