<h1>NOTE: This should be formatted prettily at some point. (Alex can do this)</h1>
<h3>But for now all the data you need is here</h3>

<br/>
<br/>



<% @regions.each_pair do |name, region| %>
	<h1><%= name.capitalize %></h1>
	<ul class="round" id="south-1" data-region="south" data-round="1">
		<% region[0].each do |match| %>
			<li class="match" id="<%= match.match_id %>">
				<ul class="teams">
					<li class="team1"><%= match.team1.name %></li>
					<li class="team2"><%= match.team2.name %></li>
				</ul>
			</li>
		<% end %>
	</ul>
	<% region.drop(1)[0..2].each_with_index do |round, i| %>
		<ul class="round" id="south-<%= i+2 %>" data-region="south" data-round="<%= i+2 %>">
			<% region[i+1].each_slice(2).with_index do |preds, j| %>
				<li class="match" id="<%= region[i+2][j].match_id %>">
					<ul class="teams">
						<li class="team1"><%= preds[0].winner.name %></li>
						<li class="team2"><%= preds[1].winner.name %></li>
					</ul>
				</li>
			<% end %>
		</ul>
	<% end %>
<% end %>