<h1>NOTE: This should be formatted prettily at some point. (Alex can do this)</h1>
<h3>But for now all the data you need is here</h3>

<br/>
<br/>

<% match_number = 1 %>

<% round = @rounds.first %>
<h2>Round 0</h2>
<ul class="round" id="round0">
	<% round.each_with_index do |match, index| %>
		<li class="match" id="match<%= match_number %>">
			<% match_number += 1 %>
			<ul class="teams">
				<li class="team1">
					<%= match.team1.name %>
				</li>
				<li class="team2">
					<%= match.team2.name %>
				</li>
			</ul>
		</li>
	<% end %>
</ul>

<% @rounds.slice(1..5).each_with_index do |round, index| %>
	<h2>Round <%= index+1 %></h2>
	<ul class="round" id="round<%= index+2 %>">
		<% round.each_slice(2).with_index do |(p1, p2), index| %>
			<li class="match" id="match<%= match_number %>">
				<% match_number += 1 %>
				<ul class="teams">
					<li class="team1">
						<%= p1.winner.name %>
					</li>
					<li class="team2">
						<%= p2.winner.name %>
					</li>
				</ul>
			</li>
		<% end %>
	</ul>
<% end %>

<% round = @rounds.last %>
<h2>Champion</h2>
<%= round.first.winner.name %>