<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Brackets4Life</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= csrf_meta_tags %>
</head>

<body data-spy="scroll" data-target=".navbar">

  <%= render "shared/navbar" %>

  <!-- alerts used for devise, etc. -->
  <% if(notice) %>
  <p class="notice"><%= notice %></p>
  <% end %>

  <% if(alert) %>
  <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer>
    <ul  class="unstyled credit center">
      <li rel="tooltip" title="Any feedback is welcome. Reach out to me on twitter (@cameronmaske) or drop me an email cam[at]closedlooplabs.co.uk" data-placement="top"> 
        Built by <a href="http://incube.us"> InCube </a> from <a href="http://entrepreneurship.duke.edu/campus-resources"> Duke University </a>
      </li>
    </ul>
    <ul class="unstyled links center">
      <li>
        <a href="">
          Contact Us
        </a>
      </li>
      <li>
        <a href="">
          FAQ
        </a>
      </li>
      <li>
        <a href="">
          Privacy Policy
        </a>
      </li>
      <li>
        <a href="">
          Terms of Service
        </a>
      </li>
    </ul>
    <ul  class="unstyled rights center">
      <li> 
        Copyright &copy; 2012 Company. All rights reserved 
      </li>
    </ul>
  </footer>

  <link href='http://fonts.googleapis.com/css?family=Questrial|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Trocchi' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <script src="https://checkout.stripe.com/v2/checkout.js"></script>

</body>
</html>
